{% extends "arc/layout.html" %}
{% load static %}
{% block title %}

    index

{% endblock %}
{% block main %}
    <div id="all-posts-view"></div>

    <div id="new-post-view">
        <h1 class="text-center">
            New Post
        </h1>
        <div class="text-center" style="display: flex; justify-content: center;">
            <form id="new-post-form">
                <textarea id="new-content"></textarea>
                <button class="btn btn-primary" id="new-post-btn">Save</button>
            </form>
        </div>
    </div>
    

{% endblock %}
{% block script %}
    <script>
        var indexPage = true;
    </script>
    <script src="{% static 'arc/index.js' %}"></script>

{% endblock %}