{% extends "arc/layout.html" %}
{% load static %}
{% block title %}

    profile

{% endblock %}
{% block main %}
    <div class="d-flex justify-content-between" style="margin: 0 300px 0 80px;">
        <div>
            <h1 class="page-title">{{ author.username }}</h1>
            <div class="navbar-expand-lg">
                <ul class="navbar-nav me-auto mt-2" id="follow">
                    <li class="nav-item"><span>{{ following }} Following</span></li>
                    <li class="nav-item" style="margin-left: 10px;"><span>{{ followers }} Follower{% if followers > 1 %}s{% endif %}</span></li>
                </ul>
            </div>            
        </div>

        {% if user.is_authenticated %}
            {% if not user_is_author %}

                <div class="form">
                    <form action="{% url 'follow_user' %}" method="post">
                        {% csrf_token %}
                        <input name="author_id" type="hidden" value="{{ author.id }}">
                        <button class="btn btn-lg btn-outline-primary follow-btn" id="follow-btn">
                            {% if not followed %}
                                Follow 
                            {% else %}
                                Unfollow
                            {% endif %}
                            {{ author.username }}
                        </button>
                    </form>                    
                </div> 

            {% endif %}            
        {% endif %}
               
    </div>
    
    <hr>
    <div class="container" id="posts-container">
        {% for post in page_obj %}

            <div class="post" id="post-{{ post.id }}" data-comment-count="{{ post.replies_count }}">
                <a class="author">
                    <strong>{{ post.author }}</strong>
                </a>
                <span class="post-timestamp">{{ post.created }}</span>
                <p class="post-content">{{ post.content }}</p>
                <button class="btn btn-sm btn-link like-btn">&#128077;&#127999;</button>
                <span class="like-count">0</span>

                {% if user.is_authenticated %}

                    <button class="btn btn-lg btn-link reply-btn">Reply</button>                    

                {% endif %}                
                {% if user_is_author %}
                    <button class="btn btn-lg btn-link edit-view-btn">Edit</button>
                    <button class="btn btn-lg btn-link delete-post-btn">Delete</button>
                {% endif %}

                <button class="btn btn-lg btn-link comments-showing-btn">Show {{ post.replies_count }} comments</button>

                {% if user_is_author %}
                    <div class="text-center edit-view" style="display: none; justify-content: center;">
                        <form class="edit-form">
                            <textarea class="new-content"></textarea>
                            <button class="btn btn-primary save-btn">Save</button>
                        </form>
                    </div>                    
                {% endif %}
                    <div class="post-comments">
                        {% for reply in post.replies %}

                            <div class="reply">
                                <a class="commentor"><strong>{{ reply.commentor }}</strong></a> <span class="comment">{{ reply.comment }}</span>
                            </div>

                        {% endfor %}
                    </div>
                <!-- the replying box should be at the end of the post -->
                {% if user.is_authenticated %}

                    <div class="text-center reply-view" style="display: flex; justify-content: center;">
                        <form class="reply-form">
                            <textarea class="reply-content"></textarea>
                            <button class="btn btn-primary save-btn">Save</button>
                        </form>
                    </div>

                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        
        {% if page_obj.has_previous %}

            <a class="paging-link" href="?page=1">&laquo; First</a>
            <a class="paging-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>

        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}

            <a class="paging-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="paging-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>

        {% endif %}
        
    </div>
    

{% endblock %}
{% block script %}

    <script src="{% static 'arc/profile.js' %}"></script>

{% endblock %}